<div class="container">
  <div class="row">
  <div class="col-sm-12" style="padding: 20px;">
  <%= simple_form_for :salary , url: "/labours/bs" , :html => { :class => 'form-horizontal' }, method: "post" do |f| -%>
<div class="form-group">
      <label for="Start" class="control-label"> From: </label>
      <input type="text" name="start" class="form-control" id="datepickerstart">
      </div>
<div class="form-group">
      <label for="end" class="control-label"> To: </label>
      <input type="text" name="end" class="form-control" id="datepickerend">
      </div>
<div class="form-group">
      <label for="Labour" class="control-label">labour</label>
      <%= collection_select(:labour, :id, @labours, :id, :name_with_salary,{},{class: "form-control"}) %>
      </div>
      <%= f.input :client_salary %>
<div class="form-group">
      <label for="salary_per_day" class="control-label">New Salary</label>
      <input type="text" name="salary_per_day" class="form-control">
      </div>
<div class="form-group">
      <button type="submit" class="btn btn-primary">Okay</button>
      </div>
  <% end -%>
</div>
  </div>
</div>
  <script>

  $(function() {
    $( "#datepickerstart" ).datepicker({"dateFormat": "dd-mm-yy"});
    $( "#datepickerend" ).datepicker( {"dateFormat": "dd-mm-yy"});
  });
  </script>