<div class="container">
  <div class="row">
  <%= simple_form_for :salary , url: "/labours/bs" , method: "post" do |f| -%>

      <label for="Start"> From: </label>
      <input type="text" name="start" id="datepickerstart">
      <label for="end"> To: </label>
      <input type="text" name="end" id="datepickerend">
      <label for="Labour">labour</label>
      <%= collection_select(:labour, :id, @labours, :id, :name_with_salary) %>
      <input type="text" name="salary_per_day" >
      <button type="submit" class="btn btn-primary">Okay</button>
  <% end -%>

  </div>
</div>
  <script>

  $(function() {
    $( "#datepickerstart" ).datepicker({"dateFormat": "dd-mm-yy"});
    $( "#datepickerend" ).datepicker( {"dateFormat": "dd-mm-yy"});
  });
  </script>