<div class="container">
  <div class="row">
  <%= form_for :attendance , url: "/attendances/bulk" , method: "post" do |f| -%>

      <label for="Start"> From: </label>
      <input type="text" name="start" id="datepickerstart">
      <label for="end"> To: </label>
      <input type="text" name="end" id="datepickerend">
      <label for="Labour">labour</label>
      <%= collection_select(:labour, :id, @labours, :id, :first_name) %>
      <label for="client">Client</label>
      <%= collection_select(:work, :id, Work.includes(:client).all, :id ,:with_client_name ) %>
      <label for="presenty"> Presenty</label>
      <%= select_tag :presence, options_for_select({"A" => 0,"'" => 2,"''" => 4,"'''" => 6,"P" => 8,"P'" => 10,"P''" => 12,"P'''" => 14,"PP" => 16,"PP'" => 18,"PP''" => 20,"PP'''" => 22,"PPP" => 24}), include_blank: true, class: "hours" %>
      <button type="submit" class="btn btn-primary">Okay</button>
  <% end -%> 

  </div>
</div>
</div>
  <script>

  $(function() {
    $( "#datepickerstart" ).datepicker({"dateFormat": "dd-mm-yy"});
    $( "#datepickerend" ).datepicker( {"dateFormat": "dd-mm-yy"});
  });
  </script>